@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-40px);
    }

    60% {
        transform: translateY(-25px);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s;
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.zoom-in {
    animation: zoomIn 0.5s ease;

    
}

.bounce {
    animation: bounce 1s infinite;
}

.boton-asistencia{
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}

.registroA{
    text-align: center;
}

