.alerta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;

}


@keyframes slideAnimation {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50%);
        opacity: 0.2;
    }
}

@keyframes slideRightAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.bienve {
    animation: slideAnimation 2.5s infinite;
    display: flex;
    justify-content: center;
}